a { text-decoration: none }

#dialog { display: none; }
#external-view { 
	display: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.content-list {
	width: 100%;
}

.content-list .heading {
	background: #efefef;
	color: #262626;
	font-weight: bold;
}

.content-list .alt-row {
	background: #FAFAFA;
}
.share {
	margin: 2px 10%;
}
.fauxwerd-article {
	margin: 5px 10%;
	/*-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	-moz-column-rule-color: #ececec;
	-webkit-column-rule-color: #ececec;
	column-rule-color: #ececec;
	-moz-column-rule-style: solid;
	-webkit-column-rule-style: solid;
	column-rule-style: solid;
	-moz-column-rule-width: 1px;
	-webkit-column-rule-width: 1px;
	column-rule-width: 1px;*/
}
.fauxwerd-article header {
	font-size: 28px;
	font-weight: bold;/*
	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;*/
}
.fauxwerd-article cite {
	font-size: 12px;
}
.fauxwerd-article cite a {
	color: #666;
}
.topics {
	margin: 5px auto;
	padding: 0;
	overflow: auto;
	font-size: 11px;
}
.topics li {
	float: left;
	list-style: none;
	margin: 0 3px 7px;
}
.topics li a {
	color: #333;
	display: block;
	margin: 0 3px 0 0;
	padding: 3px 7px;
	background: #ececec;
	border-radius: 5px;
}
.topics li a:hover {
	background: #333;
	color: #ececec;
}
.removable li a:hover {
	background: #e62020;
	color: #FFF;
}
.topics li .edit-topics {
	float: left;
	margin: 2px 0 0 3px;
	background: none;
	color: #F33;
}
.topics li .edit-topics:hover {
	color: #C00;
	background: none;
}
#topic-form #topic-name {
	height: 23px;
}
#all-set {
	position: absolute;
	bottom: 5px;
	left: 15px;
}

.ui-widget-overlay {
	background: #000;
	opacity: .7;
	filter: alpha(opacity = 70);
}

#return {
	display: block;
	float: right;
	font-size: 16px;
	font-weight: bold;
	color: #ececec;
}

#return:hover {
	color: #FFF;
}

#external-view .external-article {
	clear: both;
	width: 920px;
	height: 700px;
	margin: 0 auto;
	text-align: center;
}

#ui-dialog-title-external-view {
	cursor: pointer;
}

.fb_edge_widget_with_comment {
	position: relative;
	top: 2px;
}
