.seo { display: none; }
.pop { color: #E62020;}
.pizazz { color: #09C; }
.oops { font-size: 10px; text-align: right; margin: 0 auto; color: #0c83da}


body {
	background: transparent url(/images/header.gif) repeat-x top; 
}

a {
	color: #333;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
}

#bookmarklet {
	display: inline-block;
	background: transparent url(/images/bookmarklet.png) no-repeat center;
	width: 99px;
	height: 32px;
	position: relative;
	top: 10px;
}

.instructions {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	width: 550px;
}

#instructions-ie { display: none; }

#wrapper {
	margin: 0 auto;
	display: block;
	width: 990px;
}

#header {
	display: block;
	font: bold 18px  verdana, arial, sans-serif; 
	height: 100px;
	text-align: center;
	margin: 0 auto 10px;
	position: relative;
}

#site-logo {
	display: block;
	margin: 0 auto;
	text-align: center;
	background: transparent url(/images/logo.png) no-repeat center;
	width: 580px;
	height: 89px;
	position: relative;
	top: 5px;
}

#menu { 
	position: absolute;
	margin: 0 auto;
	padding: 0;
	top: 5px;
	right: 5px;
	text-align: left;
	text-transform: uppercase;
}

#menu li { 
	list-style: none;
}

#menu li a {
	color: #333;
	text-decoration: none;
	display: block;
}

#menu li .lesser {
	color: #666;
}

#menu li a:hover { color: #000;}

#login-form { float: right; margin-top: 5px; }

#login-form .form-fs {
	margin: 0 auto;
	padding: 0;
}

#login-form .form-fs legend { display: none; }

#login-form .form-list {
	margin: 0 auto;
	padding: 0;
}

#login-form .form-list li {
	float: left;
	margin-right: 5px;
	list-style: none;
}

#login-form .form-list label {
	font: normal 12px verdana, arial, sans-serif;
	color: #323232;
}

#login-form .form-list label {
	color: #FFFDD0;
	display: block;
	text-align: left;
}

#login-form .form-list input {
	border: 1px solid #000;
	background: #FFF;
	color: #323232;
	padding: 2px 3px;
	font: bold 12px verdana, arial, sans-serif;
}

#login-form .form-list input[type="submit"] { 
	margin-top: 17px;
	padding: 1px 3px;
}
